<form (ngSubmit)="guardar()" class="needs-validation">

    <!-- Agregar jugador-->
    <div class="row ">
        <div class="col col-sm-4">
            <div class="input-group has-validation mb-2">
                <input class="form-control" [formControl]="nuevoJugador" placeholder="Agregar Jugador"
                    (keyup.enter)="agregarJugador()">
    
                <button class="btn btn-outline-primary" type="button" (click)="agregarJugador()">
                    Agregar
                </button>
                <div class="invalid-feedback">
                    asdasdasdasdasd
                </div>
            </div>
        </div>
    </div>

    <!-- Lista de jugadores -->

        <ul class="row" *ngFor="let jugador of jugadores">
            <li class="col col-sm-6 mb-1">
                {{jugador}}
                <button class="btn btn-outline-danger" type="button" (click)="borrar(jugador)">
                    Eliminar
                </button>
            </li>
        </ul>


    <div class="row">
        <button class="col offset-sm-2 col-sm-2 btn btn-primary mb-2">Comenzar una partida</button>
    </div>
</form>