<div class="container">
    <form (ngSubmit)="guardar()" class="needs-validation" (keydown.enter)="$event.preventDefault()">

        <!-- Agregar jugador-->
        <div class="row">
    
            <div class="col col-sm-6 input-group">
                <input class="form-control" [formControl]="nuevoJugador" placeholder="Agregar Jugador"
                    (keyup.enter)="agregarJugador()">
                <button class="btn btn-outline-primary" type="button" (click)="agregarJugador()">
                    Agregar
                </button>
            </div>
            <div class="text-danger mb-2" [ngStyle]="{'visibility' : mensajeValidacion != '' ? 'visible' : 'hidden'}">
                &nbsp; {{mensajeValidacion}}
            </div>

        </div>
        <div class="row">
            <div class="col mb-4">
                <button class="btn btn-primary"
                    [ngClass]="{'disabled' : !puedoIniciar}" [routerLink]="['/juego']">Comenzar una partida</button>
            </div>
        </div>


        <!-- Lista de jugadores -->
        <div class="row row-cols-4">
            <div class="col mb-4" *ngFor="let jugador of jugadores">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            {{jugador}}
                        </h4>
                        <div class="card-text">
                            <button class="btn btn-danger float-end" type="button" (click)="borrar(jugador)">
                                Eliminar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
</form>